form.variations_form.cart {
  display: flex !important;
  flex-direction: column !important;
}

.prodInfo p {
  margin-bottom: 6px;
}

.prodInfo {
  margin-top: 1em;
}

.prodInfo {
  display: none !important;
}

#stock_info {
  display: none !important;
}

.bundledProdInfo {
  display: none !important;
}

div[id^="bundled_stock_info_"] {
  display: none !important;
}
